extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_reviews_styles.css')

append content
  script(src='/scripts/dashboard/dash_reviews_script.js')

block main
  #subtabs
    ul.subtab
      li
        a#my-review-subtab(href='#my-reviews') My Reviews 
      li
        a#left-reviews-subtab(href='#reviews-left-for-others') Reviews Left for Others 

  #reviews
    #my-reviews
    #left-reviews
