extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_edit_styles.css')

append content
  script(src='/scripts/functions/auto_complete.js')
  script(src='/scripts/dashboard/dash_edit_script.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap')
  
block links
  ul
    li
      a(href='/my-listings') My Listings
    li
      a(href='/my-reviews') Reviews
    li
      a(href='/logout') Logout

block main
  h3.title Edit Profile
  form#update-user

    div.input-field-container
    h6 Name
    input#user-name.custom-field(type='text', placeholder='Full Name')
    span.underline

    div.input-field-container
    h6 Email
    input#user-email.custom-field(type='text', placeholder='reuser@email.com')
    span.underline

    div.input-field-container
    h6 Address
    input#maps-autocomplete.custom-field(type='text', placeholder='Street Address')
    span.underline

    div.input-field-container
    h6 Profile Picture (Optional)
    input#user-image(type='file', name='image')
    span.underline
      
    input#user-submit(type='submit', value='submit')
