extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_listings_styles.css')

append content
  script(src='/scripts/dashboard/dash_listings_script.js')

block main
  #subtabs
    ul.subtab
      li
        a#active-listings-button(href='#active-listings') Active 
      li
        a#archived-listings-button(href='#archived-listings') Archived 
    form#create-new-listing-btn(action='/create-listing')
      button
        img(src='images/dash/create-new-listing-button.png')

  #listings
    each listing in listings
      if listing.isActive 
        .active-listings
          +listing-content(listing)
      else 
        .archived-listings
          +listing-content(listing)


mixin listing-content(listing)
  .listing-container 
    .listing-img
      img(src='http://reuser-api.s3-website-ap-southeast-1.amazonaws.com/300xAUTO/' + listing.imageURLs[0])
    .listing-details
      .listing-header
        h6.title= listing.title
        p.date-posted= 'Posted: ' + parseDate(listing.datePosted)
      p.category= 'Category: ' + listing.category
      p.description= listing.description
      .actions
        form
          button 
            img(src='images/dash/delete-button.png')
        form
          button 
            img(src='images/dash/edit-button.png')
        

  
  