extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_listings_styles.css')

append content
  script(src='/scripts/dashboard/dash_listings_script.js')
  
block links
  ul
    li
      a(href='/my-listings')
        b My Listings
      ul.submenu
        li
          a#active-listings-subtab Active listings
        li
          a#archived-listings-subtab Archived listings
        li
          a(href='create-listing') Create new listing
    li
      a(href='/my-reviews') Reviews
    li
      a(href='/logout') Logout

block main
  h3#active-listings-title.title Active Listings
  #active-listings
  h3#archived-listings-title.title Archived Listings
  #archived-listings
  form(action='/create-listing')
      button#create-listing
          span create new listing
