extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_create_styles.css')

append content
  script(src='/scripts/dashboard/dash_create_script.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap')
  
block links
  ul
    li
      a(href='/my-listings')
        b My Listings
      ul.submenu
        li
          a(href='my-listings#active-listings') Active listings
        li
          a(href='my-listings#archived-listings') Archived listings
        li
          a(href='create-listing') 
            b Create new listing
    li
      a(href='/my-reviews') Reviews
    li
      a(href='/logout') Logout

block main
  //- div.form-container
  h3 Create New Listing
  hr
  form#create-listing
  
    div.input-field-container
      b Title
      input#list-title.custom-field(type='text', placeholder='Listing Title')
      span.underline
    
    div.input-field-container
      b Category
      select#list-category
        option(value='materials') Materials
        option(value='food') Food
        option(value='clothing') Clothing
        option(value='electronics') Electronics
        option(value='furniture') Furniture
        option(value='decor') Decor
        option(value='misc') Misc
    
    div.input-field-container
      b Address
      input#list-address.custom-field(type='text', placeholder='Street Address')
      span.underline

    div.input-field-container
      b Description
      input#list-description.custom-field(type='text', placeholder='Describe your listing')
      span.underline  
      
    div.input-field-container
      b Expiry Date (Optional)
      input#list-date(type='date', min='2019-01-01')

    div.input-field-container
      b Image (Optional)
      input#list-image(type='file', name='image')

    input#list-submit(type='submit')