extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_listings_styles.css')

append content
  script(src='/scripts/dashboard/dash_listings_script.js')

block main
  #subtabs
    ul.subtab
      li
        a#active-listings-button(href='#active-listings') Active 
      li
        a#archived-listings-button(href='#archived-listings') Archived 
    form#create-new-listing-btn(action='/create-listing')
      button
        img(src='images/dash/create-new-listing-button.png')

  #listings
    #active-listings-container
    #archived-listings-container


  
  