extends ../default.pug

append head
  title reuser | dashboard
  link(rel='stylesheet', href='/css/dashboard/dashboard_styles.css')

block content
  - var loginUserURL = "/profile?id=" + loginId
  .grid-container
    .user
      .user-details
        h4#full-name
          a(href=loginUserURL)= loginName
        table#user-details
          tbody
            tr
              td(width='70px')
                #user-pic
                  .profile-cropper
                    if loginPic
                      - var loginPicURL = "http://reuser-api.s3-website-ap-southeast-1.amazonaws.com/60x60/" + loginPic
                      img(src=loginPicURL).profile-pic
                    else
                      img(src="images/profile/avatar-sm.png").profile-pic
              td
                #average-rating
                #date-joined
                #edit-profile
                  a(href='/logout') Edit profile
      .user-links
        p
          a#my-listings(onclick='openListings()', href='#') 
            b My Listings
        p
          a#my-reviews(onclick='openReviews()', href='#') Reviews
        p
          a#logout(href='/logout') Logout
    .main
      #main-frame
        iframe(src='dash-listings', style='border:none;')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  script(src='/scripts/dashboard/dashboard_script.js')
