extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_reviews_styles.css')

append content
  script(src='/scripts/dashboard/dash_reviews_script.js')

block main
  #subtabs
      ul.subtab
        li
          a(href='#') My Reviews 
        li
          a(href='#') Reviews Left for Others 

  h3.title My Reviews
  #my-reviews
  h3.title Reviews Left for Others
  #left-reviews
