extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_edit_styles.css')

append content
  script(src='/scripts/dashboard/dash_edit_script.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap')
  
block links
  ul
    li
      a(href='/my-listings') My Listings
    li
      a(href='/my-reviews') Reviews
    li
      a(href='/logout') Logout

block main
  h3.title Edit Profile
  hr
  form#update-user

    div.input-field-container
    b Name
    input#user-name.custom-field(type='text', placeholder='Full Name')
    span.underline

    div.input-field-container
    b Email
    input#user-email.custom-field(type='text', placeholder='reuser@reuser.xyz')
    span.underline

    div.input-field-container
    b Adress
    input#user-address.custom-field(type='text', placeholder='Street Address')
    span.underline

    div.input-field-container
    b Profile Picture (Optional)
    input#user-image.custom-field(type='file', name='image')
    span.underline


    //- b Name
    //- br
    //- input#user-name.custom-field(type='text', placeholder='Full Name')
    //- br
      
    //- b Email
    //- br
    //- input#user-email.custom-field(type='text', placeholder='reuser@reuser.xyz')
    //- br
      
    //- b Address
    //- br
    //- input#user-address.custom-field(type='text', placeholder='Street Address')
    //- br
      
    //- b Profile Picture (Optional)
    //- br
    //- input#user-image.custom-field(type='file', name='image')
    //- br
      
    input#user-submit.custom-field(type='submit')
