extends dashboard.pug

append head
  link(rel='stylesheet', href='/css/dashboard/dash_reviews_styles.css')

append content
  script(src='/scripts/dashboard/dash_reviews_script.js')

block links
  ul
    li
      a(href='/my-listings') My Listings
    li
      a(href='/my-reviews')
        b Reviews
      ul.submenu
        li
          a#my-reviews-subtab(href='#my-reviews') My Reviews
        li
          a#left-reviews-subtab(href='#left-reviews') Left for Others
    li
      a(href='/logout') Logout

block main
  h3#my-reviews-title.title My Reviews
  #my-reviews
  h3#left-reviews-title.title Reviews Left for Others
  #left-reviews
