extends default.pug

append head
    title reuser | 404 Error
    style(type='text/css').
        #error {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: -1;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        }

        @media screen and (max-width: 600px){
            #error{
                width: 99%;
            }
        }

        @media screen and (max-height: 450px){
            #error{
                position: relative;
                padding-top: 90%;
            }

      
block content
    img#error(src='images/home/404.jpg')
