extends default.pug

append head
  title reuser | about
  link(rel='stylesheet', href='/css/about_styles.css')

block content
  .background-container
    .main-container
      .creators-container
        h2 Meet the creators of reuser
        .creators
          .creator 
            img#andy(src='images/about/andy.jpg')
            h5 Andy Vo
            p founder
          .creator 
            img#shaun(src='images/about/shaun.jpg')
            h5 Shaun Soong
            p co-founder
          .creator 
            img#christian(src='images/about/christian.jpg')
            h5 Christian Sugianto
            p pre-founder
          .creator 
            img#nick(src='images/about/nick.jpg')
            h5 Nick Ang
            p post-founder
      br      
      .video-container
        h2 Watch how the reuser is made
        iframe.reuser-video(src='https://www.youtube.com/embed/tgbNymZ7vqY')