extends default.pug

append head
  title reuser | about
  link(rel='stylesheet', href='/css/about_styles.css')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  meta(name='viewport', content='width=device-width, initial-scale=1')

block content
  body
    .slideshow-container
      .mySlides.fade
        img(src='images/about/first.jpg')
        .text.first Start saving our planet by 
          i reusing
        button.button Sign Up Today
      .mySlides.fade
        img(src='images/about/second.jpg')
        .text.second The Challenge 
         p Too many reusable goods are disposed of to landfill because there exist few convenient ways to redistribute these items. We are taught to reduce, reuse, and recycle, but when it comes to reusing, the current facilities we have at our disposal are inadequate
      .mySlides.fade
        img(src='images/about/third.jpg')
        .text.third Our Goal
         p We find a way to connect people who want to donate their reusable goods to other people who need these goods in a convenient manner. Thus, less goods will be disposed which introduces us to a healthier environment
      a.prev(onclick='plusSlides(-1)') ❮
      a.next(onclick='plusSlides(1)') ❯
      div(style='text-align:center')
      span.dot.dot1(onclick='currentSlide(1)')
      span.dot.dot2(onclick='currentSlide(2)')
      span.dot.dot3(onclick='currentSlide(3)')
    script(src='/scripts/about_script.js')

    
    .w3-container
      h2 Photo Card
      .w3-card-4(style='width:50%')
        img(src='img_snowtops.jpg', alt='Alps', style='width:100%')
        .w3-container.w3-center
          p The Italian / Austrian Alps
