doctype html

head
    block head
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='icon', href='/images/others/reuser-logo-green-small.png')
    link(rel='stylesheet', href='/css/default.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')


body
    include nav
    block content
