extends default.pug

append head
    title reuser | home
    link(rel='icon', href='/images/others/reuser-logo-green-small.png')
    link(rel='stylesheet', href='/css/home_styles.css')
    

block content

    div.main-container
        div.grid-container 
            div.home-text-container
                a.home-text hundreds of people are using 
                    span.reuser-text reuser
                p.home-text to help reduce their environmental footprint.    
                button.button
                    span.button-text be a reuser now

            div.hp-illustration-container
                img.hp-illustration(src='images/home/hp-illustration.svg')

            div.above-search-section
                a.above-search(href='/map') discover 
                a.above-search-separator |
                a.above-search(href='/listing') categories

            div.search-section
                div.search-bar-container
                    input#location-search.location-input(type='location', placeholder='Address/Suburb')
                    img.location-pin-image(src='images/home/location-pin.png')   

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\\\/script>')
    script(src='/docs/4.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o', crossorigin='anonymous')
    script(src='/scripts/home.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap')
