extends default.pug

append head
    title reuser | map
    link(rel='stylesheet', href='/css/map_styles.css')

block content
    .grid-container
      .filter-container
        #filter-form.filter-modal
          .filter-content
            //- span.close ×
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Materials
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Food
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Clothing
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Electronics
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Furniture
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Decor
            br
            input(type='checkbox', name='vehicle', value='Bike') 
            |  Misc.
            br
            input(type='text', name='search-term', value='Enter search terms')
            br
            input(type='submit', value='Submit')
      .map
        #map
      .search-bar
        .search-box-container
          input#search-box.mapControls(type='text', placeholder='Address or Suburb')
          img#filter-button(src='/images/map/filter.png')
      #sidebar.sidebar
        #listings-list
          center
            img(src='/images/map/loading.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/scripts/map_script.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap', async='', defer='')
