extends nav.pug

append head
    title reUser : Spend less, consume less.
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/map_styles.css')

block content
    .grid-container
      .map
        #map
      .search-bar
        table
          tbody
            tr
              td
                input#search-box.mapControls(type='text', placeholder='Address or Suburb')
              td
                img#filter-button(src='/images/map/filter.png')
      #sidebar.sidebar
        #listings-list
          center
            img(src='/images/map/loading.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/scripts/map_script.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap', async='', defer='')
