doctype html
head

    // nav bar style and behaviour
    link(rel='stylesheet', href='/css/nav_styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
      
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

    
    // login page style and behaviour
    //<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
// header for home page
nav.navbar.navbar-expand-sm
  //- // burger bar
  //- button.navbar-default.navbar-toggler(data-toggle='collapse', data-target='#data_links')
  //-   // SOMETHING WRONG HERE????
  //-   span.navbar-toggler-icon
  // logo
  a.navbar-brand
    img.logo(src='images/nav/reuser-logo-new.png')
  a.nav-link.brand-name(href='/') reuser
  #data_links.collapse.navbar-collapse
    // nav bar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/about') about

  // login section
  div
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#log-in')
          img.login-icon(src='images/nav/login-icon.png')

  div
    ul.navbar-nav
      li.nav-item
        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#').login-text login
        ul.dropdown-menu.form-wrapper
          li
            form(action='/examples/actions/confirmation.php', accept-charset='UTF-8', role='form')
            fieldset
              .form-group
                input.form-control(placeholder='username', name='username', type='text')
              .form-group
                input.form-control(placeholder='password', name='password', type='password', value='')
              label.checkbox.pull-left
                input(type='checkbox', value='remember-me')
              a.remember-me-text  remember me
              a.forget-password-text(href='#') forget password?
              br
              br
              //span.clearfix
                
              input.btn.btn-md.btn-primary.btn-block(type='submit', value='login')
              a.dont-have-account-text don't have account? 
              a.sign-up-text(href='/register') sign up
              

              
