doctype html
head

    // nav bar style and behaviour
    link(rel='stylesheet', href='/css/nav.css')
    script(rel="text/javascript" src="/scripts/nav.js")
      
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    
header
  // logo
  .logo-container
    img#logo-img(src='images/nav/reuser-logo-white-smol.png', alt='reuser')
    a#logo-brand(href='/') reuser

  // nav buttons
  .tab
    a(href='/map') map
    a(href='/about') about

  // login
  .login-container
    img#login-img(src='images/nav/login.png', alt='login-image')
    a#login-btn(href='#login', onclick='openLogin()') log in

  // log in pop out
  #modal
    .modal-container
      span#close(onclick='closeLogin()') ×
      form(action='/action_page.php')
        input(type='email', name='email', placeholder='email')
        br
        input(type='password', name='password', placeholder='password')
        br
        button(type='submit') Log in
        br
        small
          | don't have an account?  
          a(href='/sign-up') sign up

script.
  var modal = document.getElementById('modal');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }