extends default.pug

append head
    title reuser | profile
    link(rel='stylesheet', href='/css/profile_styles.css')
    link(rel='stylesheet', href='/css/modal/modal_form.css')

block content
    .grid-container
        #modal-grid
            #modal-background
                .form-container
                    .modal-container
                        form#modal-form
                            h5 Stars (out of 5)
                            select#star-rating
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            br
                            h5 Review Title
                            input(type='text', id='reivew-title', placeholder='Summerise your review')
                            br
                            h5 Review Details
                            textarea(id='reivew-content', rows='10', cols='30', placeholder='Describe your experience')
                            br
                            input(type='submit', value='submit')
        .listings
            #active-listings
        .user
            .user-details
                table(width='100%')
                    tbody
                        tr
                            td.user-pic
                                #user-pic
                            td.user-text
                                h3#full-name
                                #date-joined
                                #user-address
                                #average-rating
                                button#contact-button contact
                                if loggedIn
                                    button#modal-form-button review
                                else
                                    button#modal-form-button(style="display:none;")
            .reviews
                #reviews-rec
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/scripts/modal/modal_form.js')
    script(src='/scripts/functions/get_stars.js')
    script(src='/scripts/profile_script.js')
