extends default.pug

append head
  title reuser | profile
  link(rel='stylesheet', href='/css/profile_styles.css')

block content
  .grid-container
    .listings
      #active-listings
    .user
      .user-details
        table(width='100%')
            tbody
                tr
                    td.user-pic
                        #user-pic
                    td.user-text
                        h3#full-name
                        #date-joined
                        #user-address
                        #average-rating
                        #thanks
                        #contact
      .reviews
        #reviews-rec
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  script(src='/scripts/functions/get_stars.js')
  script(src='/scripts/profile_script.js')
