extends default.pug

append head
  title reUser : Spend less, consume less.
  link(rel='stylesheet', href='/css/profile_styles.css')

block content
  .grid-container
    .listings
      #active-listings
    .user
      .user-details
        table#user-details
            tbody
                tr
                    td.user-pic
                        #user-pic
                    td.user-text
                        h3#full-name
                        #user-address
                        #average-rating
                        #thanks
                        #date-joined
                        #contact
      .reviews
        #reviews-rec
  script(src='/scripts/profile_script.js')
