extends default

append head
  //- tab title
  title reuser | sign-up
  link(rel='icon', href='/images/others/reuser-logo-green-small.png')
  //- import css stylesheet
  link(rel='stylesheet', href='../css/sign-up_styles.css')
  //- import jQuery script
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
  //- import custome script
  script(src='scripts/sign-up_script.js')

block content
  div.main-container
    form
      div.form-container
        h2 Create your account
        hr

        div.input-field-container
          label(for='fullname')
            b Name
          input#fullName.custom-field(type='text', placeholder='', name='fullname', required='')
          span.underline

        div.input-field-container
          label(for='email')
            b Email
          input#email.custom-field(type='text', placeholder='', name='email', required='')
          span.underline
          div
            a#invalidEmail.text-red
              | Invalid email.

        div.input-field-container
          label(for='pwd')
            b Password
          input#password.custom-field(type='password', placeholder='', name='pwd', required='')
          span.underline
          div
            a#passwordLength.text-red
              | Must be at least 8 characters long.

        div.input-field-container
          label(for='confirm-pwd')
            b Confirm Password
          input#pwdConfirm.custom-field(type='password', placeholder='', name='confirm-pwd', required='')
          span.underline
          div
            a#passwordDifferent.text-red
              | Password doesn&apos;t match.

        hr
        br
        p.term-n-privacy-text
          | by creating an account, you agree to our 
          a(href='#') terms & privacy
          | .
        button.registerbtn(type='submit') register
        p.already-has-account-text
          | already have an account? 
          a(href='#') sign in
          | .
