<!DOCTYPE html>
<html lang="en">

<head>
    <link id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <!-- HERE -->
    <link rel="stylesheet" href="../public/css/sign-up_styles.css" />"
    <script src="../public/scripts/signin_script.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- ---- Include the above in your HEAD tag ---------->
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-md-4">
                <h1 class="text-center text-success"> Sign-Up</h1><br />
                <div class="col-sm-12"><br />
                    <div class="tab-content">
                        <form action="#">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control" id="firstName" type="text" placeholder="John" />
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" id="lastName" type="text" placeholder="Appleseed" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input class="form-control is-invalid" id="email" data-toggle="tooltip"
                                    data-placement="top" title="Tooltip on top" type="email"
                                    placeholder="name@example.com" />
                                <div>
                                    <small id="invalidEmail" class="text-danger">
                                        Invalid email.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input class="form-control valid" id="pwd" type="password"
                                    placeholder="Must be at least 8 characters long" />
                                <div>
                                    <small id="passwordLength" class="text-danger">
                                        Must be at least 8 characters long.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Confirm Password:</label>
                                <input class="form-control invalid" id="pwdConfirm" type="password"
                                    placeholder="Must be at least 8 characters long" />
                                <div>
                                    <small id="passwordDifferent" class="text-danger">
                                        Password doesn't match.
                                    </small>
                                </div>
                            </div>
                        </form><br />
                        <button class="pull-right btn btn-block btn-success" id="register-button" href="/map"> Register </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#email").focusout(function () {
                email_validator();
            })

            $("#pwd").focusout(function () {
                password_validator();
            })

            $("#pwdConfirm").focusout(function () {
                password_length_validator();
            })


            function email_validator() {
                const pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                var email = $('#email').val();

                if (pattern.test(email) && email != "") {
                    $('#invalidEmail').css('display', 'none');
                    $('#email').removeClass('is-invalid');
                } else {
                    $('#invalidEmail').css('display', 'block');
                    $('#email').addClass('is-invalid');
                }
            }

            function password_validator() {
                const min = 8;
                var pwd = $('#pwd').val();

                if (pwd.length >= min) {
                    $('#passwordLength').css('display', 'none');
                    $('#pwd').removeClass('is-invalid');
                } else {
                    $('#passwordLength').css('display', 'block');
                    $('#pwd').addClass('is-invalid');
                }
            }

            function password_length_validator() {
                var pwd1 = $('#pwd').val();
                var pwd2 = $('#pwdConfirm').val();

                if (pwd1 === pwd2 && pwd2 != "") {
                    $('#passwordDifferent').css('display', 'none');
                    $('#pwdConfirm').removeClass('is-invalid');
                } else {
                    $('#passwordDifferent').css('display', 'block');
                    $('#pwdConfirm').addClass('is-invalid');
                }
            }
        });
    </script>

</body>

</html>