<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>

    <link rel="stylesheet" href="test-nav.css">
    <script type="text/javascript" src="nav.js"></script>
</head>
<body>

    <header>

        <div class="nav-container">
            <!-- logo -->
            <div class='nav-logo'>
                <a><img class='logo' src="../public/images/nav/reuser-logo-white-smol.png"></a>
                <li><a href='/'>reuser</a></li>
            </div>
            <!-- nav buttons -->
            <div class='nav-button'>
                <ul>
                    <li><a href='/map'>map</a></li>
                    <li><a href='/about'>about</a></li>
                </ul>
            </div>
            <!-- login -->
            <div class='nav-login'>
                <a href="#log-in"><img class='nav-button' src="../public/images/nav/login.png"></a>
                <li><a href='#log-in' id="btn" onclick='openLogin()'>log in</a></li>
            </div> 
        </div>  
    </header>  

    <div id="modal">
         <div class="modal-container">

            <form action="/action_page.php">
                <input type="email" name="email" placeholder="email""><br>
                <br>
                <input type="password" name="password" placeholder="password"><br>
                <br>
                <input type="submit" value="Submit">
            </form> 

            <small>don't have an account?<a href="/sign-up">sign up</a></small>
            
         </div>
    </div> 


    <script>
        var modal = document.getElementById('modal');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }    
    </script>
</body>
</html>