<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>

    <link rel="stylesheet" href="test-nav.css">
</head>
<body>

    <header>

        <div class="nav-container">
            <!-- logo -->
            <div class='nav-logo'>
                <a><img class='logo' src="../public/images/nav/reuser-logo-white-smol.png"></a>
                <li><a href='/'>reuser</a></li>
            </div>
            <!-- nav buttons -->
            <div class='nav-button'>
                <ul>
                    <li><a href='/map'>map</a></li>
                    <li><a href='/about'>about</a></li>
                </ul>
            </div>
            <!-- login -->
            <div class='nav-login'>
                <a href="#log-in"><img class='nav-button' src="../public/images/nav/login.png"></a>
                <li><a href='#log-in'>log in</a></li>
            </div> 
        </div>  

    </header>    
</body>
</html>