extends default.pug

append head
  title reUser : Spend less, consume less.
  meta(name='viewport', content='initial-scale=1.0')
  meta(charset='utf-8')
  link(rel='stylesheet', href='/css/listing_styles.css')

block content
  .grid-container
    .user
      .user-details
          h5#full-name
          table#user-details
              tbody
                  tr
                      td
                          #user-pic
                      td
                          #average-rating
                          i#date-joined
          button#contact-button contact
      #reviews-rec
    .listing
      h3#title
      i#date-posted
      #address
      #images
      #description
      i#date-expires
  script(src='/scripts/listing_script.js')
