extends default.pug

append head
  title reUser : Spend less, consume less.
  link(rel='stylesheet', href='/css/listing_styles.css')

block content
  .grid-container
    .user
      .user-details
          h5#full-name
          table#user-details
              tbody
                  tr
                      td
                          #user-pic
                      td
                          #average-rating
                          #date-joined
          #contact
      #reviews-rec
    .listing
      h3#title
      #date-posted
      #address
      #images
      #description
      #date-expires
  script(src='/scripts/listing_script.js')
