extends default.pug

append head
  title reUser : Spend less, consume less.
  link(rel='stylesheet', href='/css/listing_styles.css')

block content
  .grid-container
    .user
      .user-details
          h4#full-name
          table#user-details
              tbody
                  tr
                      td
                          #user-pic
                      td
                          #average-rating
                          #date-joined
          #contact
      #reviews-rec
    .listing
      h3#title
      #date-posted
      #address
      #images
      #description
      #date-expires
      #map
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  script(src='/scripts/listing_script.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAfb9qNOsOS_Q77Z94lgwCdYUj4BdKShAA&libraries=places&callback=initMap', async='', defer='')
