/* general  */
* {
  box-sizing:border-box;
  font-family: Raleway;
}

/* Slideshow container */
.slideshow-container {
  /* background-size:cover; */
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}

.slideshow-container img{
  height: 100%;
  width: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  /* font-family: "Times New Roman", Times, serif; */
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first {
  top: 60%;
}

.second {
  top: 65%;
}

.second p {
  font-size: 25px;
}

.third {
  top: 65%;
}
.third p {
  font-size: 25px;
}

/* Style the button and place it in the middle of the container/image */
.slideshow-container .button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #39B54A;
  color: white;
  font-size: 16px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  margin-top: 2%;
}

.slideshow-container .button:hover {
  background-color: green;
  transition: background-color 0.6s ease;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: 0.25%;
}

.active, .dot:hover {
  background-color: #717171;
}

.dot1 {
  margin-left: -20px;
  align-content: center;
}
.dot2 {
  align-content: center;
}

.dot3 {
  margin-left: 20px;
  align-content: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* background */
.background-container {
  width: 100%;
  /* height: Calc(100vh - 60px); */
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container {
  width: 1000px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

/* break lines */
hr.about {
  margin-top: 50px;
  margin-bottom: 0px;
  /* border: 1px solid green; */
  width: 95%;
}

.creators-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.creators {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.creator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

.creator h5{
  color: black;
}

.creator img{
  /* margin-top: 10px; */
  margin-bottom: 10px;
  width: 100%;
}

#andy {
  grid-column: 1;
  justify-self: center;
}

#shaun {
  grid-column: 2;
  justify-self: center;
}

#christian {
  grid-column: 3;
  justify-self: center;
}

#nick {
  grid-column: 4;
  justify-self: center;
}

/* Video section */
.video-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-container .column {
  float: left;
  width: 50%;
}

/* Clearfix (clear floats) */
.video-container .row::after {
  content: "";
  clear: both;
  display: table;
  width: 860px;
}

.column.video-text h2{
  margin-top: 90px;
}

.column.video-text h4{
  color: black;
}

.reuser-video {
  width: 430px;
  height: 241.875px;
}

/* how it works section */
.works-container {
  color: green;
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.work img{
  margin-top: 10px;
  width: 90%;
  border-style: solid;
  border-radius: 100px;
  border-color: #39B54A;
}

.works-description h5{
  color: black;
  text-align: center;
  padding-top: 50px;
}

#post {
  grid-column: 2;
  justify-self: center;
}

.works .giver {
  width: 70%;
  align-items: center;
}

.works .receiver {
  width: 90%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
  border-right: 2px dashed #39B54A;
}

#receiver-text {
  text-decoration: underline;
  padding-right: 150px;
  text-align: center;
}

#giver-text {
  text-decoration: underline;
  padding-right: 100px;
  text-align: center;
}

.work h5 {
  padding-right: 25px;
  text-align: center;
}

#browse {
  grid-column: 1;
  justify-self: center;
}

#collect {
  grid-column: 2;
  justify-self: center;
}

#review {
  grid-column: 3;
  justify-self: center;
}

/* responsive design */
@media screen and (max-width: 1560px) {
  /* fix carousell size */
  .text {
    font-size: 30px;
  }

  .slideshow-container{
    height: 400px;
  }

  .slideshow-container img{
    height: 100%;
    width: auto;
    padding-right: 50vh;
  }

  .slideshow-container p{
    font-size: 20px;
  }

}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 900px;
  }

  /* video */
  .video-container {
    margin-top: 35px;
    height: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .video-container .column {
    float: left;
    width: 0%;
    margin-left: 0;
  }

  .column.video-text{
    width: 100%;
    text-align: center;
  }
  .column.video{
    width: 100%;
  }

  .reuser-video {
    width: 90%;
    margin-left: 5%;
    height: 435.375px;
  }
}

@media screen and (max-width: 1000px) {

  /* carousell */
  .slideshow-container .text {
    font-size: 25px;
  }

  .slideshow-container p{
    font-size: 15px;
  }

  .slideshow-container .button {
    font-size: 14px;
  }

  /* main container */
  .main-container {
    width: 600px;
  }

  .creators {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "1 2"
    "3 4";
  }

  .creator {
    margin-bottom: 30px;
  }

  .video-container {
    width: 600px;
  }

  .row {
    width: 600px;
  }

  .column-video {
    width: 600px;
  }

  .reuser-video {
    display: block;
    width: 540px;
    height: 303.75px;
    margin-left: auto;
    margin-right: auto;
  }

  #andy {
    grid-area: 1;
  }

  #shaun {
    grid-area: 2;
  }

  #christian {
    grid-area: 3;
  }

  #nick {
    grid-area: 4;
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    width: 100%;
  }

  .creators {
    width: 270px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "1"
    "2"
    "3"
    "4";
  }

  .creator {
    margin-bottom: 30px;
  }

  .creator img {
    width: 250px;
    height: auto;
  }

  .video-container {
    width: 400px;
  }

  .row {
    width: 400px;
  }

  .column-video {
    width: 400px;
  }

  .reuser-video {
    display: block;
    width: 350px;
    height: 196.875px;
    margin-left: auto;
    margin-right: auto;
  }
}
