body {
  font-family: 'Raleway', sans-serif;
}

body.italic {
  font-style: italic;
  color: #999;
}

a {
  color: #39B54A;
  text-decoration: none;
}

a:hover {
  color: #57EB74;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  color: #39B54A;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
