.grid-container {
  display: grid;
  grid-template-columns: 1fr 300px 900px 1fr;
  grid-template-rows: auto;
}

.user {
  grid-column: 2;
}

.listing {
  grid-column: 3;
}

.profile-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.star-rating {
  width: 100px;
}

.listing-pic {
  width = 100%;
  max-width: 900px;
}
