.grid-container {
  display: grid;
  grid-template-columns: 1fr 250px 700px 1fr;
}

.user {
  grid-column: 2;
  padding: 20px;
  background-color: #f5f5f5;
}

.listing {
  grid-column: 3;
  padding: 20px;
  margin-left: 10px;
}

.review {
  padding-bottom: 20px;
}

.user-details {
  padding-bottom: 20px;
}

.date {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

.profile-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.star-rating {
  width: 80px;
}

.user-rating {
  width: 80px;
}

.listing-pic {
  width = 100%;
  max-width: 660px;
  padding: 20px 0 20px 0;
}

.category {
  color: #999;
  text-transform: capitalize;
  font-style: italic;
}

#user-pic {
  padding-bottom: 10px;
}

#description {
  padding-bottom: 10px;
}

#map {
  margin-top: 20px;
  height: 350px;
}

#user-details {
  width: 100%;
}

#contact-button {
  background-color: #39B54A;
  font-size: 20px;
  color: white;
  border-radius: 47px;
  border: none;
  text-align: center;
  padding: 4px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

#contact-button:focus {
  outline: 0;
}

@media (max-width: 950px) {
  .grid-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
  }
  .listing-pic {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .listing {
    margin-left: 0;
  }
  #title {
    font-size: 1.3rem;
  }
  .user-name a {
    font-size: 1.3rem;
  }
}
