@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    color: white;
}

.navbar{
    background-color: green;
    height: 48px;
}

.logo-text{
    color: white;
    margin-right: 3%;
}

/* Link */
.navbar-default .navbar-item > li > a {
    color:white;
}

#log-in{
    background-color: #57CC86;
    color: white;
    height: 48px;
}


   /* when screen reduces in size  */
@media screen and (max-width: 576px) {
    .navbar-text{
        display: none;
    }   
    .navbar{
        height: auto;
    } 
}
