
/* IDs */
#invalidName {
    display: none;
}

#emailNotUnique{
    display: none;
}

#invalidEmail {
    display: none;
}

#passwordLength {
    display: none;
}

#passwordDifferent{
    display: none;
}

.main-container {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 45px;
}

.form-container {
    width: 500px;
    border: solid lightgray 1px;
    padding: 20px 50px 10px 50px;
    border-radius: 30px;
}

h3 {
    /* font-family: Montserrat !important; */
    padding: 5px 0;
    text-align: center;
    font-weight: bold !important;
    color: black !important;
}

label {
    margin-bottom: 0 !important;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 23px 0 23px 0;
}

.custom-field {
    font-size: 15px;
    font-weight: normal;
    color: black;
    width: 80%;
    padding: 0;
    background: white !important;
    height: 30px;
    border-bottom: solid lightgray 2px !important;
}

input {
    width: 100% !important;
    display: inline-block;
    border: none;
    background: white;
}

input:focus {
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.text-red {
    font-size: 13px;
    color: red !important;
}
/* Set a style for the submit button */
.registerbtn {
    background-color: #39B54A;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 47px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: #39B54A;
}

.term-n-privacy-text {
    font-size: 12px;
    margin-bottom: 5px;
}

.already-has-account-text{
    margin-top: 20px;
    text-align: center;
}

/* input field animation */

input::-webkit-input-placeholder {
    color: #AAA;
}

input:focus::-webkit-input-placeholder {
    color: #39B54A;
}

input:focus+.underline {
    transform: scale(1);
}

.underline {
    position: relative;
    background-color: #39B54A;
    display: inline-block;
    height: 2px;
    top: -2px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 100%;
}
