html, body {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: baseline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 57px 1fr;
  height: calc(100vh - 60px);
}

.filter-container {
  grid-column: 1;
  grid-row: 2;
  z-index: 4;
}

.map {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  z-index: 1;
}

.search-bar {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  padding: 10px 26px 0 10px;
}

.sidebar {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  overflow: auto;
}

.search-box-container {
  border-radius: 10px;
  border: 1px solid #999;
  padding: 5px 0 5px 8px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
}

.listing {
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  line-height: 1.3rem;
}

.list-title {
  color: #39B54A;
  margin: 0;
}

.category {
  text-transform: capitalize;
  color: #999;
}

.info-pic {
  float: left;
  max-height: 150px;
  max-width: 300px;
  margin-right: 13px;
}

.info-pic-alt {
  width: 200px;
  /* max-height: 150px; */
  display: none;
}

.info-title {
  margin: 0;
}

.nw-icon {
  margin-left: 10px;
}

.sidebar-pic {
  max-width: 239px;
  margin-bottom: 5px;
}

.sidebar-crop {
  max-width: 239px;
  max-height: 239px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.profile-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.user-box {
  margin: 5px 0 5px 10px;
}

.time-since {
  color: #999;
}

.exipiry-date {
  color: #999;
}

#map {
  height: 100%;
}

#search-box {
  background: transparent;
  border: none;
  padding: 0;
  text-overflow: ellipsis;
  width: 228px;
  height: 25px;
}

#search-box:focus, textarea:focus, select:focus{
    outline: none;
}

#filter-button {
  padding: 3px 0 0 0;
  height: 17px;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  width: 1em;
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); */
}

/* The Modal (background) */
.filter-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.filter-content {
  /* background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; */
  position: relative;
  float: none;
  margin: auto;
  background-color: #fefefe;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #999;
  width: 350px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.filter-container input{
  border-radius: 47px;
  padding-right: 10px; /* this doesnt work idk, but when width is not 100% then ok */
}

.filter-container ::-webkit-input-placeholder{
  font-size: 12px;
  font-family: Raleway;
}

.filter-container ::-moz-placeholder {
  font-size: 12px;
  font-family: Raleway;
}

.filter-container a{
  color: #39B54A !important;
}

.filter-container a:hover{
  color: #57EB74 !important;
}

.filter-container input{
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 47px;
  box-sizing: border-box;
}

.filter-container input[type="text"]{
  width: 100%;
}

.filter-container small{
  padding-left: 56px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}

.filter-container input[type="submit"]{
  border: none;
  color: white;
  font-size: 12px;
  font-family: Raleway;
  background-color: #39B54A;

  width: 100%;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  outline: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width:950px) {
  #sidebar {
    display: none;
  }
  .search-bar {
    grid-column: 1 / span 2;
    padding: 11px 26px 0 26px;
  }
  #search-box {
    width: calc(100% - 25px);
  }
}

@media(max-width:650px) {
  .info-pic {
    display: none;
  }
  .info-pic-alt {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
