html, body {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: baseline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 1fr;
  height: calc(100vh - 60px);
}

.map {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  z-index: 1;
}

.search-bar {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  padding: 6.5px 26px 0 10px;
}

.sidebar {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  overflow: auto;
}

.search-box-container {
  border-radius: 10px;
  border: 1px solid #999;
  padding: 5px 0 5px 8px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
}

.listing {
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  line-height: 1.3rem;
}

.list-title {
  color: #39B54A;
  margin: 0;
}

.category {
  text-transform: capitalize;
  color: #999;
}

.info-pic {
  float: left;
  max-height: 150px;
  max-width: 300px;
  margin-right: 13px;
}

.info-title {
  margin: 0;
}

.nw-icon {
  margin-left: 10px;
}

.sidebar-pic {
  max-width: 239px;
  margin-bottom: 5px;
}

.sidebar-crop {
  max-width: 239px;
  max-height: 239px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.profile-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.user-box {
  margin: 5px 0 5px 10px;
}

.time-since {
  color: #999;
}

.exipiry-date {
  color: #999;
}

#map {
  height: 100%;
}

#search-box {
  background: transparent;
  border: none;
  padding: 0;
  text-overflow: ellipsis;
  width: 228px;
  height: 25px;
}

#search-box:focus, textarea:focus, select:focus{
    outline: none;
}

#filter-button {
  padding: 3px 0 0 0;
  height: 17px;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  width: 1em;
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); */
}

@media(max-width:950px) {
  #sidebar {
    display: none;
  }
  .search-bar {
    grid-column: 1 / span 2;
    padding: 11px 26px 0 26px;
  }
  #search-box {
    width: calc(100% - 25px);
  }
}

@media(max-width:768px) {
  .info-pic {
    width: 150px;
    max-height: 150px;
  }
}
