@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
    margin: 0;
    padding: 0;
}

/* general */
header{
  height: 60px;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
  background-color: #39B54A;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

header a{
  color:white !important;
  text-decoration: none !important;
  display: inline-block !important;
  box-sizing: content-box !important;
  line-height: 26px;
}

header a :hover{
  color: #57EB74 !important;
  text-decoration: none;
}

/* logo */
.nav-logo-container{
  height: inherit;
  width: 150px;
  float: left;
  text-align: center;
  padding-left: 60px;
}

#nav-logo-img{
  float: left ;
  height: 65% ;
  padding-top:10px ;
  padding-right: 10px ;
}

#nav-logo-brand{
  padding-top: 18px;
  padding-right: 10%;
  font-weight: bold;
}

#nav-logo-brand:before,
#nav-logo-brand:after {
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}


/* tab buttons */
.nav-tab{
  height: inherit;
  width: 35vw;
  float: left;
}

.nav-tab a{
  padding-top:18px;
  padding-right: 10px;
}

/* login */
.nav-login-container{
  height: 60px;
  padding-right: 60px;
}

#nav-login-img{
  padding-top: 12px;
  height: 80%;
  float: right;
  box-sizing: border-box !important;
}

#login-btn{
  padding-top:18px;
  float: right;
  padding-right: 10px;

}



/* login modal (pop out) */
#modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;

  z-index: 4; /* doesnt overlap with the map */
  padding: 10px;

  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-container {
  position: relative;
  float: right;
  background-color: #fefefe;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid #39B54A;
  width: 315px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-container input{
  border-radius: 47px;
  padding-right: 10px; /* this doesnt work idk, but when width is not 100% then ok */
}

.modal-container ::-webkit-input-placeholder{
  font-size: 12px;
  font-family: montserrat;
}

.modal-container ::-moz-placeholder {
  font-size: 12px;
  font-family: montserrat;
}

.modal-container a{
  color: #39B54A !important;
  text-decoration: underline !important;

}

.modal-container input{
  width: 97%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 47px;
  box-sizing: border-box;
}

.modal-container small{
  padding-left: 56px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}

.modal-container button{
  border: none;
  color: white;
  font-size: 12px;
  font-family: montserrat;
  background-color: #39B54A;

  width: 97%;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/* respondsive design */
@media screen and (max-width: 600px){

  /* remove nav buttons */
  .nav-tab{
    display: none;
  }

}

@media screen and (max-width: 450px){

  /* remove nav buttons */
  .nav-tab{
    display: none;
  }

  /* push logo and login to side */
  .nav-logo-container{
    padding-left: 10px;
  }

  .nav-login-container{
    padding-right: 10px;
  }

}
