@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

body{
    margin: 0;
    padding: 0;
}

/* general */
header{
  height: 60px;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  background-color: #39B54A;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

header a{
  color:white !important;
  text-decoration: none !important;
  display: inline-block !important;
  box-sizing: content-box !important;
  line-height: 26px;
}

.login-container {
  float: right ;
  height: 32px ;
  padding-top: 14px;
  padding-right: 0 ;
}

.login-cropper {
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.login-pic {
  width: 32px;
}

/* logo */
.nav-logo-container{
  height: inherit;
  width: 150px;
  float: left;
  text-align: center;
  padding-left: 30px;
}

#nav-logo-img{
  float: left ;
  height: 32px ;
  padding-top: 14px;
  padding-right: 0 ;
}

#nav-logo-brand{
  padding-top: 18px;
  padding-right: 10%;
  font-weight: bold;
}

#nav-logo-brand:before,
#nav-logo-brand:after {
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

header * {
    box-sizing: content-box;
}

/* tab buttons */
.nav-tab{
  height: inherit;
  width: 35vw;
  float: left;
}

.nav-tab a{
  padding-top:18px;
  padding-right: 10px;
}

/* login */
.nav-login-container{
  height: 60px;
  padding-right: 30px;
}

#nav-login-img{
  padding-top: 14px;
  height: 32px;
  float: right;
}

#login-btn{
  padding-top:18px;
  float: right;
  padding-right: 10px;

}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/* respondsive design */
@media screen and (max-width: 600px){

  /* remove nav buttons */
  .nav-tab{
    display: none;
  }

}

@media screen and (max-width: 450px){

  /* remove nav buttons */
  .nav-tab{
    display: none;
  }

  /* push logo and login to side */
  .nav-logo-container{
    padding-left: 10px;
  }

  .nav-login-container{
    padding-right: 10px;
  }

}
