@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand.logo {
    position: fixed;
    top: 3px;
}

.navbar-collapse {
    margin-left: 7rem;
}

.nav-link{
    color: white;
}

.nav-link:hover {
  color: #5fb75f;
}

.nav-link.profile {
    top: 0;
    right: 70px;
    position: fixed;
}

.navbar{
    /* background-color: #57CC86; */
    background-color: green;
    height: 48px;
}

.logo-text{
    position: fixed;
    color: white;
    margin-left: 3rem;
}

.navbar-toggler-icon{
    background-color: black;
}

#log-in{
    background-color: #57CC86;
    color: white;
    padding: auto;
}


   /* when screen reduces in size  */
@media screen and (max-width: 576px) {
    .navbar-text{
        display: none;
    }
    /* .navbar{
        height: auto;
    } */
}
