@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.navbar {
    font-family: futura;
    font-size: 17px;
    font-weight: bold;
    background-color: #4CD15F;
    /* background-color: white; */
    height: 70px;
}

.navbar-brand {
    margin-left: 100px;
    margin-right: 0px !important;
    padding-right: 0px;
}

img.logo {
    height: 28px;
}

.nav-link{
    color: black;
}

.navbar-collapse {
    margin-left: 10px;
}

.nav-link:hover {
    color: #646363;
}

img.login-icon {
    height: 30px;
}

.nav-link.dropdown-toggle.login-text {
    margin-right: 82px;
}

.navbar-toggler-icon{
    background-color: black;
}

/* login page styles */
.navbar .dropdown-menu.form-wrapper {
    width: 315px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.remember-me-text {
    font-size: 12px;
}

.forget-password-text {
    padding-left: 50px;
    font-size: 12px;
}

.btn {
    border-radius: 47px !important;
}

.dont-have-account-text {
    margin-left: 30px;
    font-size: 12px;
}

.sign-up-text {
    font-size: 12px;
    margin-left: 5px;
}

/* 
#log-in{
    background-color: #57CC86;
    color: white;
    padding: auto;
} */

/* when screen reduces in size  */

@media screen and (max-width: 576px) {
    
}

/* the #data_links.collapse.navbar-collapse doesn't immediately 
   come in effect at 576, hence this is to fix the resize bug at 
   width 576px */
@media screen and (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar {
        justify-content: flex-start !important;
    }

    .navbar-brand {
        margin-left: 10px;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .nav-link.dropdown-toggle.login-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    img.login-icon {
        margin-left: 10px;
    }

    .nav-link.brand-name {
        flex-grow: 1 !important;
        padding-left: 10px;
    }
}
