.grid-container {
  display: grid;
  grid-template-columns: 1fr 250px 700px 1fr;
}

.listings {
  grid-column: 2;
  padding: 20px 10px 20px 10px;
}

.user {
  grid-column: 3;
  padding: 20px 10px 20px 30px;
}

.user-details {
  padding-bottom: 20px;
}

.user-pic {
  width: 300px;
}

.user-text {
  padding: 20px 10px 20px 30px;
}

.listing {
  padding-bottom: 20px;
}

.listing-pic {
  width = 100%;
  max-width: 230px;
}

.profile-pic {
  width = 100%;
  max-width: 300px;
}

.star-rating {
  width: 80px;
}

.user-rating {
  width: 80px;
  padding-bottom: 0.3em;
}

.date {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

.review {
  padding-bottom: 20px;
}

#user-details {
  width: 100%;
}

#contact-button {
  background-color: #39B54A;
  font-size: 20px;
  color: white;
  border-radius: 47px;
  border: none;
  text-align: center;
  padding: 4px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 20px;
}

#contact-button:focus {
  outline: 0;
}
