.grid-container {
  display: grid;
  grid-template-columns: 1fr 250px 700px 1fr;
}

.listings {
  grid-column: 2;
  padding: 20px 10px 20px 10px;
}

.user {
  grid-column: 3;
  padding: 20px 10px 20px 30px;
}

.user-pic {
  width: 300px;
}

.user-text {
  padding: 20px 10px 20px 30px;
}

.listing-title {
  text-transform: capitalize;
}

.listing-pic {
  width = 100%;
  max-width: 230px;
  padding: 20px 0 20px 0;
}

.profile-pic {
  width = 100%;
  max-width: 300px;
}

.star-rating {
  width: 80px;
  padding-bottom: 10px;
}

.user-rating {
  width: 80px;
  padding-bottom: 10px;
}

.date {
  color: #999;
  padding-bottom: 10px;
  font-style: italic;
}

#user-details {
  width: 100%;
}

#contact-button {
  background-color: #39B54A;
  font-size: 20px;
  color: white;
  border-radius: 47px;
  border: none;
  text-align: center;
  padding: 4px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  max-width: 230px;
  margin: auto;
}

#contact-button:focus {
  outline: 0;
}
