body {
    /* background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg); */
}

.container{
    font-family: futura;
}

.form-control {
    -webkit-border-radius: 47px !important; 
    -moz-border-radius: 47px !important;
    
    border-radius: 47px !important;
}

/* IDs */

#invalidEmail {
    display: none;
}

#passwordLength {
    display: none;
}

#passwordDifferent{
    display: none;    
}

