.review-content {
  margin-bottom: 20px;
}

.bin-image {
  display: block;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.bin-image:hover {
  cursor: pointer;
}

.list-button {
  width: 40px;
}

.review-id-hidden{
  display: none;
}

.review-table {
  width: 100%;
}

#my-reviews {
  display: block;
  margin-bottom: 20px;
}

#left-reviews {
  display: none;
  margin-bottom: 20px;
}

#my-reviews-title {
  display: block;
}

#left-reviews-title {
  display: none;
}
