.listing-pic {
  width: 200px;
}

.listing-id-hidden {
  display: none;
}

.bin-image {
  display: block;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.bin-image:hover {
  cursor: pointer;
}

.undo-image {
  display: block;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.undo-image:hover {
  cursor: pointer;
}

.listing-content {
  padding: 10px
}

.list-button {
  width: 40px;
}

.listings-table {
  width: 100%;
}

.listings-td {
  width: 200px;
}

#active-listings-title {
  display: block;
}

#archived-listings-title {
  display: none;
}

#active-listings {
  display: block;
  margin-bottom: 20px;
}

#archived-listings {
  display: none;
  margin-bottom: 20px;
}
