body {
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  margin-bottom: 5px;
}


.grid-container {
  display: grid;
  grid-template-columns: 30px 300px auto 30px;
  background-color: white;
  /* background-image: linear-gradient(to right top, #0a3441, #00616f, #00917e, #00c067, #54eb12); */
}

.user {
  grid-column: 2;
  padding: 20px;
  min-height: calc(100vh - 100px);
  padding-left: 40px;
}

.main {
  grid-column: 3;
  padding: 20px;
  margin-left: 10px;
  min-height: calc(100vh - 100px);
  background-color: white;
}

.user-details {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: flex;
}

.user-info {
  padding-top: 10px;
  padding-left: 25px;
}

.date {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

.profile-cropper {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.star-rating {
  width: 80px;
}

.user-rating {
  width: 80px;
}

.category {
  color: #999;
  text-transform: capitalize;
  font-style: italic;
}

#main-frame {
  width: 100%;
  height: 100%;
}

#user-details {
  width: 100%;
}

#full-name {
  color: #5E6367;
  font-weight: bold;
  font-size: 23px;
  padding: 0;
  margin: 0;
}

#edit-profile {
  font-size: 0.9em;
}

#tab {
  display: flex;
  margin-bottom: 20px;
}

#tab a {
  color: #5E6367;
  font-weight: bold;
  font-size: 15px;
}

#tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

#subtabs {
  padding: 0 0 10px 20px;
  margin-bottom: 30px;
  display: flex;
  border-bottom: solid 1px lightgray;
}

#subtabs .subtab{
  display: flex;
  margin-top: 30px;
}

#subtabs .subtab li{
  padding-right: 30px;
}

#subtabs .subtab a{
  font-weight: 400;
  font-size: 18px;
}

.user-links {
  border-bottom: solid 1px lightgray;
}


@media (max-width: 950px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
  }
  .user {
    min-height: 0;
  }
  .main {
    margin-left: 0;
    min-height: 0;
  }
  .title {
    font-size: 1.3rem;
  }
  .user-name a {
    font-size: 1.3rem;
  }
}
