/* highlight the side tab text to tell user that they're in listing tab*/
#listing-text {
  color: #3CB16B !important;
}

/* The subtab text color */
#active-listings-button {
  color: #3CB16B; 
}

#archived-listings-button {
  color: black; 
}

/* the green + button */
#create-new-listing-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end
}

#create-new-listing-btn button {
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
}

#create-new-listing-btn img{
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/* listings */
.listing-container {
  display: grid;
  grid-template-columns: 300px auto;
  height: 180px;
  width: 95%;
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
  margin-left: 20px;
}

.listing-img{
  grid-column: 1;
  display: flex;
  height: 160px;
  align-content: center;
  justify-content: center;
}

.listing-img img{
  height: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.listing-details {
  grid-column: 2;
  display: grid;
  grid-template-rows: 25px 15px 90px 30px;
  width: 100%;
  height: 100%;
  padding: 5px 10px 10px 0px;
}

.listing-header {
  grid-row: 1;
  height: 25px;
  width:100%;
}

h6.title a{
  float:left;
  color: black;
  font-weight: bold;
}

p.date-posted {
  float: right;
  font-size: 0.75rem;
}

p.category {
  grid-row: 2;
  font-size: 0.75rem;
  width: 100%;
}

p.description {
  grid-row: 3;
  font-weight: bold;
  font-size: 0.85rem;
  color: #5E6367;
  width: 100%;
}

.actions {
  grid-row: 4;
  display: block;
}

.actions button {
  float: right;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none
}

.actions img {
  width: 28px;
  height: 28px;
}

/* to show or hide the listings */
.active-listings {
  display: block;
}

.archived-listings {
  display: none;
}

