.review-content {
  margin-bottom: 20px;
}

.bin-image {
  display: block;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.list-button {
  width: 40px;
}

#my-reviews {
  margin-bottom: 20px;
}

#left-reviews {
  margin-bottom: 20px;
}


